.container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container webview {
  width: 50vw;
  height: 50vh;
}

.account {
  float: left;
  margin-right: 5px;
  margin: 10px;
}

.parent {
  float: left;
  margin-right: 10px;
  width: 50vw;
  height: 50vh;
}